body {
    font-size: 14px;
    line-height:24px;
    color: #666;
}
a:link,
a:visited {
    color: #666;
}
p{
    margin:0;
}
img{
    max-width:100%;
}
.text-center{
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
}
.markerContentStyle{
    width:27px;
}

.container {
    width: 980px;
}
.example-details {
    width: 804px;
    margin: 0 auto;
    position: relative;
}
.content {
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 90px;
    min-height: 100%;
}
.amap {
    padding-top: 30px;
}
/* 快递员图标样式 */
#tip{
    height: 70px;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    position:absolute;
    font-size: 12px;
    right: 10px;
    bottom: 30px;
    border-radius: 3px;
    line-height: 30px;
    border:1px solid #ccc;
}
#tip input{
    border:1px solid #ddd;
    height:23px;
    border-radius:3px;
    outline:none;
}

.markerContentStyle span {
    display: block;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #0000FF;
    font-size: 12px;
    position: absolute;
    border-radius: 3px;
    top: 32px;
    left: -4px;
    padding: 1px;
    width: 30px;
    line-height:12px;
    text-align: center; 
}

.markerContentStyle .span1 {
    display: block;
    background-color:transparent;
    border: 0;
    font-size: 12px;
    top: 34px;
    left: -10px;
    padding: 2px;
    text-align: center;
    width: 38px;
}
.description{
    display:none;
}
/* 全屏地图样式 */
.mapContainer{
    position:fixed;
    top:0;
    left:0;
    z-index: 9;
    width:100%;
    height:100%;
}
.hide{
    display:none;
}
.full-screen-aside{
    position:fixed;
    top:0;
    right:0;
    z-index:10000;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    width:320px;
    padding-left:30px;
    padding-right:30px;
    background-color:rgba(255,255,255,0.9);
}
.full-screen-logo{
    padding-top:12px;
    padding-bottom:16px;
    text-align:center;
}
.full-screen-title{
    padding-bottom:34px;
    font-size:16px;
    text-align:center;
}
.full-screen-article{
    margin-bottom:26px;
}
.full-screen-link-index{
    padding-top:46px;
    padding-bottom:154px;
}
.full-screen-link{
    border-bottom:1px solid #999;
}
@media screen and (min-width: 320px) and (max-width: 979px) {
    html,
    body {
        height: 100%;
        overflow: hidden;
    }
    .container{
        width:100%;
    }
    .header,
    .index-nav {
        border: 0;
    }
    .index-header {
        background: none;
    }
    .header {
        width: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: rgba(255, 255, 255, 0.9);
        position: relative;
        z-index: 99;
        margin-left: 10px;
        margin-right: 10px;
    }
    .header:before {
        content: "WildGeo配送员定位案例";
        display:block;
        box-sizing:border-box;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -ms-box-sizing:border-box;
        -o-box-sizing:border-box;
        width: 100%;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -ms-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        text-align: center;
        line-height: 60px;
        font-size: 24px;
    }
    .content,
    .example-details,
    .amap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .example-details {
        overflow: hidden;
    }
    .mapContainer {
        height: 100%;
    }
    .mapTitle {
        display: none;
    }
    .description {
        position:absolute;
        z-index:999;
        bottom:0;
        padding-left:2%;
        padding-right:2%;
        box-sizing:border-box;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -ms-box-sizing:border-box;
        -o-box-sizing:border-box;
        width:100%;
        height:auto; 
        display:block;
    }
    .description-title{
        font-size:1.8rem;
        text-align:center;
        line-height:4.5rem;
        font-weight:500;
        background-color:rgba(255, 255, 255, 0.9);
        box-shadow:0 -1px 2px 0 rgba(0,0,0,0.1);
    }
    .description-details{
        padding-left:8%;
        padding-right:8%;
        padding-bottom:3%;
        font-size:1.2rem;
        background-color:rgba(255, 255, 255, 0.9);
        display:none;
    }
    .description-details-center{
        margin-top:6%;
        margin-bottom:6%;
    }
    .slide-up-arr{
        position:absolute;
        top:-60px;
        left:50%;
        z-index:1;
        width:60px;
        padding-top:60px;
        background:url(../images/arr.png) no-repeat center bottom/60px;
        transform:translate(-50%);
        -webkit-transform:translate(-50%);
        -moz-transform:translate(-50%);
        -ms-transform:translate(-50%);
        -o-transform:translate(-50%);
    }
    .amap-zoomcontrol{
        transform:scale(0.7);
        -webkit-transform:scale(0.7);
    }
    .full-screen-aside{
        display:none;
    }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
    .header:before {
        font-size: 20px;
        line-height:40px;
    }
    .description-title{
        font-size:1.4rem;
        text-align:center;
        line-height:3rem;
    }
}
